/* 
-------------------
Reset
-------------------
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
-------------------
Common
-------------------
*/

.container{
    width: 80%;

}

li {
    list-style-type: none;
}
/* 
-------------------
Typo
-------------------
*/
body{
    font-family: 'Roboto', sans-serif; 
}

header, footer{
    color: white;
}

/* 
-------------------
Header
-------------------
*/

header { 
    display: flex;
    justify-content: center;
    background-color: #ff6900;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}


nav ul {
    display: flex;
    gap: 10px;
}
nav img{
    display: inline-block;
    width: 135px;
    padding-right: 10px;
}
header i{
    color: white;
}