/* 
-------------------
Reset
-------------------
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
-------------------
Debag
-------------------
*/

/* .debag main .container{
    height: 1500px;
    background-color: bisque;
} */
.debag footer{
    height: 100px;

}

/* 
-------------------
Common
-------------------
*/

.container{
    width: 1380px;

}
a{
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}
/* 
-------------------
Typo
-------------------
*/

.box-info .price span{
    color: red;
}
.box-info .price .oldprice{
    color: black;
    text-decoration: line-through;

}
body{
    font-family: 'Roboto', sans-serif; 
}

header, footer{
    color: white;
}
h4{
    color: white;
}

h2{
    color: white;
    font-size: 18px;
}

.footer-info ul li, .footer-social h4{
    font-size: 14px;
}


/* 
-------------------
Header
-------------------
*/

header { 
    position: fixed;
    right: 0;
    left:0;
    top:0;
    z-index: 999;
    display: flex;
    justify-content: center;
    background-color: #ff6900;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}


nav ul {
    display: flex;
    gap: 10px;
}
nav img{
    display: inline-block;
    width: 135px;
    padding-right: 10px;
}
header i{
    color: white;
}

main{
    display: flex;
    justify-content: center;
}

main .container{
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.box-img{
    position: relative;
    height: 650px;
    width: 450px;
}
.box{
    margin-bottom: 60px;
}

.box img{
    position: absolute;
    width: 100%;
}

.sale{
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 40px;
    padding: 5px 7px;
}

.sost{
    background-color: green;
    position: absolute;
    padding: 5px 7px;
}

.box1 .sost, .box4 .sost{
    left: 55px;
    bottom: 40px;
}
.box6 .sost{
    bottom:40px;
    left:0;
}

.heart{
    position: absolute;
    background-color: white;
    right: 0;
    top: 10px;
    font-size: 30px;
    padding: 5px 15px;
}

.box-info{
    margin-top: 5px;
}
.price{
    display: inline-block;
}

.box-img > img:hover{
    display: none;
}
.heart:hover{
    color: red;
}

/* 
-------------------
Footer
-------------------
*/
footer{
    background-color:#1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-info ul li{
    padding-top: 10px;
    padding-right: 10px;
    display: inline-block;
}

footer .container{
    display: flex;
    justify-content: space-between;
}

.footer-social ul li{
    padding-top: 5px;
    display: inline-block;

}
.footer-social ul a{
    color: white;
    font-size: 20px;
    padding: 0 2.5px;    
}
